$backgroundImage: linear-gradient(135deg, #0a7373 10%, #fa7f08 100%);
$backgroundImageCard: linear-gradient(
  60deg,
  #a1c7e0 0%,
  #a1c7e0 45%,
  #00abbd 45%,
  #ffffff 55%,
  #a1c7e0 55%,
  #a1c7e0 100%
);
$primaryColor: #c43302;
$secondaryColor: #010221;
$alternateColor: #b7bf99;
