// font-family: 'Fira Code', monospace;
// font-family: 'Roboto', sans-serif;
// font-family: 'Shantell Sans', cursive;
// ************************************
// * Variables
// ************************************

// * Colors
// $primary-color: #878787;
$primary-color: #202022;
$secondary-color: #00bbc9;
$text-color: #fff !important;

// * Fonts
$font-family: "Fira Code", monospace;

// * Path Variables

// $main-bgImg-path: "./assets/img/model-1.png";
$notFoundImgCDN: "https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif";
