header {
  display: flex;
  background-image: linear-gradient(
    109.6deg,
    rgba(24, 138, 141, 1) 11.2%,
    rgba(96, 221, 142, 1) 91.1%
  );
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

header img {
  width: 100px;
}

header h1 {
  color: white;
}

h1 span {
  color: aqua;
}

h1 .after-company {
  color: black;
}
