.cards-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media only screen and (max-width: 320px) {
//   .cards-wrapper {
//     padding: 1rem 0;
//   }
// }
