@import "variables", "reset";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Roboto:wght@400;700&display=swap");

// font-family: 'Fira Code', monospace;
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Fira Code", monospace;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    $Teal-and-Gray-1-hex 0%,
    $Teal-and-Gray-3-hex 90%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 0.6rem;
  }
}
